html,
body{
    margin:0;
    padding:0;
    font-family:Roboto,sans-serif;
    background:#f4f6f8;
}

.container{

    width:90%;
    margin:auto;
    margin-top:30px;

}

.spacer{

    flex:1;

}

.full-width{

    width:100%;

}

.mt-20{

    margin-top:20px;

}

.text-center{

    text-align:center;

}

table{

    width:100%;

}